* {
    margin: 10px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .right {
    display: flex;
}

header .right p {
    font-size: 13px;
    color: hsl(236, 13%, 42%);
    cursor: pointer;
    transition: color 0.15s;
}

header .right p:hover {
    color: hsl(5, 85%, 63%);
}

.middle {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.middle .left {
    /* background-color: black; */
    /* height: 860px; */
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.web3-img {
    height: 350px;
    width: 100%;
}

.web3-text-cont {
    display: flex;
    justify-content: space-between;
}

.web3-text-cont h1 {
    font-size: 40px;
    white-space: nowrap;
}

.web3-text-cont p {
    color: hsl(236, 13%, 42%);
    font-size: 14px;
    width: 320px;
    line-height: 22px;
}

.read-more-btn {
    padding: 10px 30px;
    border: none;
    color: white;
    font-weight: 700;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
    transition: background-color 0.15s;
}

.read-more-btn:hover {
    background-color: hsl(240, 100%, 5%);
}

.middle .right {
    background-color: hsl(240, 100%, 5%);
    vertical-align: top;
    width: 400px;
    /* height: 86.6vh; */
    display: flex;
    flex-direction: column;
}

.new-label {
    color: hsl(35, 77%, 62%);
    font-size: 40px;
    font-weight: 600;
}

.middle .cont .heading {
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.15s;
}

.middle .cont .heading:hover {
    color: hsl(35, 77%, 62%);
}

.cont .insights {
    color: hsl(236, 13%, 42%);
    width: 320px;
    /* font-size: 13px; */
}

.cont .insights::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 40px;
    background-color: hsl(236, 13%, 42%);
}



.bottom {
    display: flex;
}

.bottom .cont {
    display: flex;
}

.bottom-image {
    height: 120px;
    cursor: pointer;
}

/* .bottom .right {
    background-color: lightblue;
} */

.bottom .right .number {
    color: hsl(233, 8%, 79%);
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom .right .heading {
    font-weight: 700;
    cursor: pointer;
    transition: color 0.15s;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}

.bottom .right .heading:hover {
    color: hsl(5, 85%, 63%);
}

.bottom .right .text {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    width: 200px;
    color: hsl(233, 8%, 79%);
}


.mmc {
    position: fixed;
    top: 0;
    bottom: -10px;
    left: 0;
    top: -10px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: red; */
    opacity: 0;
    z-index: -1;
}

.show-mmc {
    opacity: 1;
    z-index: 2; 
}

.mobile-menu-cont {
    transform: translateX(500px);
    position: absolute;
    top: -10px;
    right: 0;
    left: 130px;
    bottom: -10px;
    z-index: 2;
    background-color: white;
    color: black;
    opacity: 0;
}

.mobile-menu-cont-animation {
    opacity: 1;
    animation: slideIn 0.5s linear forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

.mobile-menu-cont .menus {
    margin-top: 200px;
    margin-left: 30px;
}

.mobile-menu-cont p {
    font-size: 25px;
    cursor: pointer;
    line-height: 50px;
    transition: color 0.15s;
}

.mobile-menu-cont p:hover {
    color: hsl(5, 85%, 63%);
}

.close-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 20px;
    height: 20px;
}

.menu {
    cursor: pointer;
    margin-left: 200px;
}