@media (max-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .middle {
        grid-template-columns: 1fr;
    }

    .middle .left {
        width: 400px;
    }

    
    .web3-text-cont {
        flex-direction: column;
    }

    .bottom {
        flex-direction: column;
        margin-top: 100px;
    }
}